:root {
    --clr-dark-blue: 0, 26, 52;
    --clr-sunny: 249, 178, 3;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--clr-dark);
    color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.vku-aside {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    /* ??? */

}

.vku-menu {
    display: flex;
    flex-direction: column;
    /*   padding: .75em; */
}

.vku-logo-container {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.vku-address {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 1em;
}

.icon-panel {
    display: flex;
    margin-bottom: 1em;
}

.icon svg {
    transition: fill 0.3s ease;
}

.icon:hover svg path {
    fill: rgb(var(--clr-sunny));
}

/*
.icon:hover svg circle {
    fill: rgb(var(--clr-sunny));
} */



.vku-menu {
    line-height: 36px;
}