body {
    background-color: var(--clr-dark-blue);
    /* background: url("../images/desktop-map-background.webp") no-repeat; */
    background-color: rgb(var(--clr-dark-blue));
    background-size: cover;
}

.desktop-aside {
    background-color: rgba(var(--clr-dark-blue), .8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 35%;
    overflow-y: auto;
    z-index: 1;
}

.mobile-sticky-header {
    display: none;
}

.vku-logo-container {
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.icon-map {
    display: none;
}

.icon-panel {
    justify-content: flex-start;
    gap: 1em;
}

.menu-item {
    position: relative;
}

.dropdown {
    position: relative;
    margin-top: .7;
    /* Position dropdown below parent */
    left: 0;
    list-style: none;
    padding-left: 1em;
    margin-left: .70em;
    border-left: 2px solid rgba(100, 100, 100, .5);

}

.product {
    display: flex;
    gap: .25em;
    background-image: none;
}

.product-price {
    color: rgba(100, 100, 100, .9);
}

.flex-wrapper-main {
    display: flex;
}

#map {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.desktop-grid-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
}

/* TODO classes */
aside {
    grid-column: 1;
    pointer-events: none;
}

main {
    display: grid;
    grid-column: 1 / span 2;

}