body {
    background: url("../images/mobile-background.png") no-repeat;
    background-size: cover;
    font-size: 1.25rem;
}

.icon-panel {
    justify-content: space-between;
}

.vku-logo-container {
    margin-top: 1em;
}

.menu-item {
    padding-left: 1.25em;
    position: relative;
    margin-bottom: .7em;
}

.menu-item::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 70%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-item.closed::before {
    background-image: url('../images/arrow.svg');
}

.menu-item.opened::before {
    background-image: url('../images/line.svg');
}

.menu-item.has-dropdown.closed::before {
    top: 70%;
    /* Продукция */
}

.menu-item.has-dropdown.opened::before {
    top: 2.7%;
    /* Продукция */
}



.dropdown {
    display: none;
    position: relative;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: .7em;
}

.dropdown-item {
    padding-left: .5em;
    position: relative;
}

.menu-item.has-dropdown::before {
    top: -13%;
    /* Adjust position for items with dropdowns */
}


.dropdown-item::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 30%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dropdown-item.arrowed::before {
    background-image: url('../images/arrow.svg');
}

.menu-item.opened .dropdown {
    display: block;
}

.menu-item.has-dropdown::before {
    top: 50%;
    /* Adjust position for items with dropdowns */
}

.product {
    background-size: cover;
    background-position: center;
    width: 80vw;
    min-height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 1em;
}

.product-name {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}



.product-grunt {
    background-image: url('../images/grunt.png');
}

.product-sand {
    background-image: url('../images/pesok.png');
}

.product-gravel {
    background-image: url('../images/graviy.png')
}

.product-rubble-stone {
    background-image: url('../images/butovy-kamen.png');
}

.product-crushed-stone {
    background-image: url('../images/scheben.png');
}

.product-natural-stone {
    background-image: url('../images/prirodny-kamen.png');
}

.product-sps {
    background-image: url('../images/prirodny-kamen.png');
}

.product-pgs {
    background-image: url('../images/pgs.png');
}

.product-otsev {
    background-image: url('../images/otsev.png');
}

.product-pm {
    background-image: url('../images/pgs.png');
}