body {
    background: url("../images/mobile-background.png") no-repeat;
    background-size: cover;
    font-size: 1.25rem;
}

#desktop-product-description {
    display: none;
}


.mobile-sticky-header {
    gap: 0.5em;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(21, 25, 31, 0.7);
    min-height: 52px;
    padding: 0.75em;
    display: none;
}



.fl-wrapper {
    display: flex;
    gap: .5em;
}

.product-wrapper {
    display: flex;
    gap: 1em;
    margin-top: .75em;
    margin-bottom: 1.5em;
    font-weight: bold;
}

.flex-wrapper-main {
    padding: .5em;
}


.burger {
    background-image: url('../images/burger-horizontal.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 25px;
}

.icon-panel {
    justify-content: space-between;
    max-height: 32px;
}

.vku-logo-container {
    margin-top: 1em;
}

.vku-menu {
    padding: 0;
    margin: 0;
    margin-top: .75em;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    font-size: 1.25rem;
    display: flex;
    margin-bottom: 0.7em;
    line-height: 1.8;
    /* 36px */
}

.menu-item.with-dropdown {
    flex-direction: column;
}

.menu-link {
    display: flex;
    align-items: center;
}


.menu-icon-arrow {
    width: 15px;
    height: 8px;
    background-image: url('../images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    align-self: center;
    margin-top: 4px;

}

.menu-icon-line {
    width: 13.31px;
    height: 2px;
    background-image: url('../images/line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    align-self: center;

}

.product-menu-arrow {
    width: 15px;
    height: 8px;
    background-image: url('../images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 7px;
}

.product-desc-icon-line {
    width: 13.31px;
    height: 2px;
    background-image: url('../images/line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
}

.product-desc-icon-arrow {
    width: 15px;
    height: 8px;
    background-image: url('../images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 7px;
}


.flex-wrapper {
    display: flex;
}

.flex-wrapper-li {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    gap: 0.5em;
    margin-left: 1em;
}


.dropdown {
    margin-top: .75em;
}

.dropdown-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.menu-item.opened .dropdown {
    display: block;
}




.product--dynamic-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    gap: .5em;
    margin-left: 0.6em;
}

.product {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 35px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.product-name,
.product-price {
    display: inline-block;
}

.product-name {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 4px;
    line-height: 1.2;
}

.product-price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 4px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: .75rem;
    font-weight: 500;
    color: rgba(40, 40, 40, 0.8);
    line-height: 16px;
}

.product-button {
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(var(--clr-sunny));
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    width: 181px;
    height: 44px;
}


.product-grunt {
    background-image: url('../images/grunt.png');
}

.product-pesok {
    background-image: url('../images/pesok.png');
}

.product-gravel {
    background-image: url('../images/graviy.png')
}

.product-rubble-stone {
    background-image: url('../images/butovy-kamen.png');
}

.product-crushed-stone {
    background-image: url('../images/scheben.png');
}

.product-natural-stone {
    background-image: url('../images/prirodny-kamen.png');
}

.product-sps {
    background-image: url('../images/prirodny-kamen.png');
}

.product-pgs {
    background-image: url('../images/pgs.png');
}

.product-otsev {
    background-image: url('../images/otsev.png');
}

.product-pm {
    background-image: url('../images/pgs.png');
}

.arrow {
    width: 15px;
    height: 15px;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    color: #fff;
    margin-top: .5em;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.product-description {
    margin-left: 0em;
    margin-bottom: 1.5em;

}


.product-description-header {
    display: flex;
    align-content: flex-start;
    margin-bottom: 1em;
}


.product-description h3 {
    font-weight: 500;
    margin-left: 0.5em;

}

.product-description img {
    display: block;
    width: 100%;
}

.product-list-arrow-down {
    width: 24px;
    height: 24px;
    background-image: url('../images/uiw_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    margin-top: 10px;
    margin-right: 15px;

}

/* Change arrow to line (it was rotate arrow before) fix class name in js & here*/
.product-list-arrow-down.rotate {
    background-image: url('../images/line-white-no-opacity.svg');
    width: 14px;
    margin-top: 15px;
    margin-right: 22px;
}

.product-list {
    min-width: 100%;
    font-size: 1rem;
    margin-top: 1.5em;
}

.product-list .product-list-dropdown-item {
    color: rgb(var(--clr-sunny));
    font-weight: 400;
    font-size: 1rem;
}


.product-inner-dropdown {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    font-size: 1rem;
    min-width: 100%;

}

.product-inner-dropdown--item {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: .5em;
    padding-bottom: .5em;
    color: rgb(255, 255, 255);
    line-height: 1.125;
}

.product-inner-dropdown--item.description {
    line-height: 1.5;
    border-bottom: none;
    /* for font-szie 24px */
}


.product-list-dropdown-item {
    min-width: 100%;
}

.bordered-wrapper-white {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 1em;
    justify-content: space-between;
    min-width: 100%;
}

.bordered-wrapper {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    padding-bottom: 1em;
    justify-content: space-between;
}

.product-inner-dropdown {
    display: none;
}

.product-inner-dropdown.visible {
    display: block;
}

#map {
    display: none;
}