body {
    background: url("../images/mobile-background.png") no-repeat;
    background-size: cover;
    font-size: 1.25rem;
}

.mobile-sticky-header {
    gap: 0.5em;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(21, 25, 31, 0.7);
    min-height: 52px;
    padding: 0.75em;
    display: none;
}


.burger {
    background-image: url('../images/burger-horizontal.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 25px;
}

.icon-panel {
    justify-content: space-between;
}

.vku-logo-container {
    margin-top: 1em;
}

.vku-menu {
    padding: 0;
    margin: 0;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    margin-bottom: 0.7em;
}

.menu-item.with-dropdown {
    flex-direction: column;
}

.menu-link {
    display: flex;
    align-items: center;
}


.menu-icon-arrow {
    width: 15px;
    height: 15px;
    background-image: url('../images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    align-self: center;
    margin-top: 10px;
}

.menu-icon-line {
    width: 15px;
    height: 15px;
    background-image: url('../images/line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    align-self: center;
    margin-top: 13px;
}



.flex-wrapper {
    display: flex;
}

.flex-wrapper-li {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    gap: 0.5em;
    margin-left: 1em;
}

.dropdown {
    display: none;
    list-style: none;
}

.dropdown-1 {
    padding: 0;
    margin-top: 0.7em;
    width: 100%;
    margin-left: -0.5em;
}

.dropdown-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.menu-item.opened .dropdown {
    display: block;
}



.product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    background-position: center;
    width: 80vw;
    min-height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 1em;
}

.product-name,
.product-price {
    display: inline-block;
}

.product-name {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}



.product-grunt {
    background-image: url('../images/grunt.png');
}

.product-pesok {
    background-image: url('../images/pesok.png');
}

.product-gravel {
    background-image: url('../images/graviy.png')
}

.product-rubble-stone {
    background-image: url('../images/butovy-kamen.png');
}

.product-crushed-stone {
    background-image: url('../images/scheben.png');
}

.product-natural-stone {
    background-image: url('../images/prirodny-kamen.png');
}

.product-sps {
    background-image: url('../images/prirodny-kamen.png');
}

.product-pgs {
    background-image: url('../images/pgs.png');
}

.product-otsev {
    background-image: url('../images/otsev.png');
}

.product-pm {
    background-image: url('../images/pgs.png');
}

.arrow {
    width: 15px;
    height: 15px;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    color: #fff;
    margin-top: .5em;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.product-description {

    margin-left: 0em;
    margin-bottom: 1.5em;
    min-width: 100% !important;
    display: none;
}

.product-description h3 {
    text-align: left;
    padding: 0.5em;

}

.product-description img {
    display: block;
    margin: 0 auto;
}

.product-list-arrow-down {
    width: 25px;
    height: 25px;
    background-image: url('../images/uiw_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    margin-top: 10px;
    margin-right: 15px;

}

/* Rotate arrow when dropdown is open */
.product-list-arrow-down.rotate {
    background-image: url('../images/line-white-no-opacity.svg');
    width: 14px;
    margin-top: 15px;

    /* Rotate 180 degrees */
}

.product-list {
    min-width: 100%;
    font-size: 1rem;
    margin-top: 1.5em;
}

.product-list .product-list-dropdown-item {
    color: rgb(var(--clr-sunny));
}


.product-inner-dropdown {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    font-size: 1rem;
    min-width: 100%;

}

.product-inner-dropdown--item {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: .5em;
    padding-bottom: .5em;
    color: rgb(255, 255, 255);
    min-width: 100%;

}

.product-inner-dropdown-item div {
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.product-list-dropdown-item {
    min-width: 100%;
}

.bordered-wrapper-white {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 1em;
    justify-content: space-between;
    min-width: 100%;
}

.bordered-wrapper {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    padding-bottom: 1em;
    justify-content: space-between;
}

.product-inner-dropdown {
    display: none;
}

.product-inner-dropdown.visible {
    display: block;
}

#map {
    display: none;
}