body {
    background-color: var(--clr-dark-blue);
    /* background: url("../images/desktop-map-background.webp") no-repeat; */
    background-color: rgb(var(--clr-dark-blue));
    background-size: cover;
}

.hidden {
    display: none !important;
}

.desktop-aside {
    background-color: rgba(var(--clr-dark-blue), .8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 35%;
    overflow-y: auto;
    z-index: 5;
}

.products-desktop-aside-styles {
    padding-left: 1em;
    margin-left: .70em;
    border-left: 2px solid rgba(100, 100, 100, .5);
}

.desktop-li-price,
.desktop-li-units {
    color: grey;
}


.mobile-sticky-header {
    display: none;
}

.vku-logo-container {
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.icon-map {
    display: none;
}

.icon-panel {
    justify-content: flex-start;
    gap: 1em;
}

.menu-item {
    position: relative;
}

.dropdown {
    position: relative;
    margin-top: .7;
    /* Position dropdown below parent */
    left: 0;
    list-style: none;
    padding-left: 1em;
    margin-left: .70em;
    border-left: 2px solid rgba(100, 100, 100, .5);

}

.product {
    display: flex;
    gap: .25em;
    background-image: none;
}

.product-price {
    color: rgba(100, 100, 100, .9);
}

.flex-wrapper-main {
    display: flex;
}




.d-flex-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

#map {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.flex-row {
    display: flex;
    gap: 0.25rem;
}

.overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.desktop-grid-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
}

/* TODO classes */
aside {
    grid-column: 1;
}

.map-section {
    grid-column: 1 / span 2;
    grid-row: 1;
}


.border-bottom {
    border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.d-product-description {
    padding: 1em;
    grid-column: 1 / span 2;
    grid-row: 1;
    z-index: 0;
    height: 100vh;
    background: url('../images/product-background.webp') no-repeat;




    display: grid;
    grid-template-columns: 30% auto 7%;
    gap: 1rem;
}

.description-grid-wrapper {
    grid-column: 2;
}

.d-product-info {
    grid-column: 2;
}

.d-product-info h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.625;
}

.d-product-info p {
    font-size: 1.25rem;
    line-height: 1.4;
}

.d-product-controls {
    grid-column: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.d-product-controls .svg-container:hover svg path {
    fill: rgb(var(--clr-sunny));


}

.product-desc-icon-line {
    width: 13.31px;
    height: 2px;
    background-image: url('../images/line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
}



/*
.d-product-controls {
    grid-column: 3;
    grid-row: 1;
    outline: 1px solid lime;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
} 

.d-product-controls svg {
    padding: 1rem;
} */